/Advanced_Java EE/NetBeansProjects/URL_Rewriting/nbproject/private/
/Advanced_Java EE/NetBeansProjects/URL_Rewriting/build/
/Advanced_Java EE/NetBeansProjects/WebApplication1/nbproject/private/
/Advanced_Java EE/NetBeansProjects/WebApplication1/build/
