<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	 version="6.0">
    
    
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    
    
    <!--servlet declaration for success java class-->
    
    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>com.packages.success</servlet-class>
    </servlet>
    
    <!--mapping-->
    
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>

    
    
    
    <!--servlet declaration-->
    <servlet>
        <servlet-name>form</servlet-name>
        <servlet-class>com.packages.RegisterServlet</servlet-class>
    </servlet>
    
    <!--mapping-->
    
    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>    
    
    <!--servlet declaration for com.attribute package-->
    
    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>com.attribute.s1</servlet-class>
    </servlet>
    
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>S1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>
    
    
    <!--servlet declaration for com.attribute package-->
    
    <servlet>
        <servlet-name>S2</servlet-name>
        <servlet-class>com.attribute.s2</servlet-class>
    </servlet>
    
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>S2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>
    
</web-app>
